/* cards-tile: Blue promo cards with centered icon and text */
.cards-tile > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-tile > ul > li {
  display: block;
  box-sizing: border-box;
  background-color: var(--vibrant-blue);
  padding: 30px 20px;
  text-align: center;
}

.cards-tile > ul > li .cards-tile-card-image {
  display: block;
  text-align: center;
  margin: 0;
}

.cards-tile > ul > li .cards-tile-card-image p {
  margin: 0;
  display: inline-block;
}

.cards-tile > ul > li .cards-tile-card-image picture {
  display: inline-block;
}

.cards-tile > ul > li .cards-tile-card-image img {
  width: 105px;
  height: 70px;
  object-fit: contain;
  display: block;
}

.cards-tile > ul > li .cards-tile-card-body {
  text-align: center;
  margin: 0;
}

.cards-tile > ul > li .cards-tile-card-body h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  font-family: var(--body-font-family);
  margin: 0;
  line-height: 1.4;
}

main .cards-tile > ul > li .cards-tile-card-body h2 a:any-link {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
}

main .cards-tile > ul > li .cards-tile-card-body h2 a:hover {
  color: #fff;
  text-decoration: underline;
}

.cards-tile > ul > li .cards-tile-card-body p {
  color: #fff;
  font-size: var(--body-font-size-m);
  font-weight: 400;
  line-height: 1.2;
  margin: 15px 0 0;
}

@media (width >= 600px) {
  .cards-tile > ul {
    flex-flow: row wrap;
    gap: 30px;
  }

  .cards-tile > ul > li {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}
