.columns-app > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns-app img {
  width: 100%;
  max-width: 200px;
}

.columns-app > div > div {
  order: 1;
}

.columns-app h3 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  color: var(--color-white);
  margin: 0 0 16px;
}

.columns-app p {
  color: var(--color-white);
  margin: 0 0 8px;
}

.columns-app li {
  color: var(--color-white);
}

.columns-app > div > .columns-app-img-col {
  order: 0;
  text-align: center;
}

.columns-app > div > .columns-app-img-col img {
  display: block;
  margin: 0 auto;
}

@media (width >= 900px) {
  .columns-app > div {
    align-items: center;
    flex-direction: unset;
    gap: 40px;
  }

  .columns-app > div > div {
    flex: 1;
    order: unset;
  }
}
